@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --black: rgba(33, 37, 41, 1);
  --body-emphasized-font-family: "SF Pro", Helvetica;
  --body-emphasized-font-size: 17px;
  --body-emphasized-font-style: normal;
  --body-emphasized-font-weight: 400;
  --body-emphasized-letter-spacing: -0.4300000071525574px;
  --body-emphasized-line-height: 22px;
  --body-regular-font-family: "SF Pro", Helvetica;
  --body-regular-font-size: 17px;
  --body-regular-font-style: normal;
  --body-regular-font-weight: 400;
  --body-regular-letter-spacing: -0.4300000071525574px;
  --body-regular-line-height: 22px;
  --caption-font-family: "Roboto", Helvetica;
  --caption-font-size: 12px;
  --caption-font-style: normal;
  --caption-font-weight: 400;
  --caption-letter-spacing: 0px;
  --caption-line-height: normal;
  --colorsgreen: rgba(52, 199, 89, 1);
  --colorspink: rgba(255, 45, 85, 1);
  --footnote-regular-font-family: "SF Pro", Helvetica;
  --footnote-regular-font-size: 13px;
  --footnote-regular-font-style: normal;
  --footnote-regular-font-weight: 400;
  --footnote-regular-letter-spacing: -0.07999999821186066px;
  --footnote-regular-line-height: 18px;
  --grey-text-colour-for-brand: rgba(107, 114, 128, 1);
  --heading-1-font-family: "Roboto", Helvetica;
  --heading-1-font-size: 24px;
  --heading-1-font-style: normal;
  --heading-1-font-weight: 600;
  --heading-1-letter-spacing: 0px;
  --heading-1-line-height: normal;
  --heading-2-font-family: "Roboto", Helvetica;
  --heading-2-font-size: 20px;
  --heading-2-font-style: normal;
  --heading-2-font-weight: 600;
  --heading-2-letter-spacing: 0px;
  --heading-2-line-height: normal;
  --heading-3-font-family: "Roboto", Helvetica;
  --heading-3-font-size: 16px;
  --heading-3-font-style: normal;
  --heading-3-font-weight: 600;
  --heading-3-letter-spacing: 0px;
  --heading-3-line-height: normal;
  --label-font-family: "Roboto", Helvetica;
  --label-font-size: 14px;
  --label-font-style: normal;
  --label-font-weight: 500;
  --label-letter-spacing: 0px;
  --label-line-height: normal;
  --light-grey: rgba(242, 242, 242, 1);
  --light-purple: rgba(243, 232, 255, 1);
  --paragrapgh-body-small-font-family: "Roboto", Helvetica;
  --paragrapgh-body-small-font-size: 12px;
  --paragrapgh-body-small-font-style: normal;
  --paragrapgh-body-small-font-weight: 400;
  --paragrapgh-body-small-letter-spacing: 0px;
  --paragrapgh-body-small-line-height: normal;
  --paragraph-paragraph-body-large-font-family: "Roboto", Helvetica;
  --paragraph-paragraph-body-large-font-size: 14px;
  --paragraph-paragraph-body-large-font-style: normal;
  --paragraph-paragraph-body-large-font-weight: 400;
  --paragraph-paragraph-body-large-letter-spacing: 0px;
  --paragraph-paragraph-body-large-line-height: 140%;
  --primary-colour-purple: rgba(129, 52, 175, 1);
  --sparko-dark-grey: rgba(153, 153, 153, 1);
  --white-neutral: rgba(255, 255, 255, 1);
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
